body {
    background-color: #3333ff;
    font-family: Arial, sans-self; 
    color: #191970; 
}

.kartu-profil {
   width: 400px;
   margin: 50px auto;
   padding: 20px;
   background-color: Blue; 
   border-radius: 15px; /* Membuat sudut menjadi melengkung */
   box-shadow: 0 4px 8px rgba(0,0,0,0.1; /* Efek bayanagn */
   text-align: center; 
} 


.kartu-profil img {
   width: 150px;
   border-radius: 50%; 
}
